@use '../global/global.scss';
@use '../global/globalColor.scss';

.banner{ 
    background: url(/img/home/bg/banner-bg.webp) no-repeat right top / cover; 
    min-height: 600px;
    text-align: center;
    color: globalColor.$text-light;
    padding: 10rem 0;
    .flex-col{ gap: 2rem; will-change: transform opacity; }
    h2{
        font-size: 2.4rem;
        margin-top: 10rem;
        span{ color: globalColor.$primary-color; }
        color: globalColor.$text-light;
    }
    p{ font-size: 22px; color: globalColor.$text-light; }
    a{
        text-transform: uppercase;
        font: 600 14px global.$ff;
        border: 2px solid globalColor.$text-light;
        padding: 10px 20px;
    }
}

.services, .works{
    padding: 4rem 0;
    text-align: center;
    .flex-col{ gap: 2rem; max-width: 400px; }
    .caption.flex-col{ gap: 25px; }
    .row h2{
        font-size: 18px;
        span{
            font-size: 22px;
        }
    }
    a{
        color: globalColor.$primary-color;
        &:hover{ text-decoration: underline; text-underline-offset: 4px; }
    }
}
