@use '../global/global.scss';
@use '../global/globalColor.scss';

header{ @include global.Header(globalColor.$text-light, globalColor.$primary-color, globalColor.$background-color-icon, globalColor.$background-light, globalColor.$heading-dark); }

.banner{ 
    background: url(/img/home/bg/banner-bg.webp) no-repeat right top / cover; 
    min-height: 600px;
    text-align: center;
    color: globalColor.$text-light;
    padding: 10rem 0;
    .flex-col{ gap: 2rem; will-change: transform opacity; }
    h2{
        font-size: 2.4rem;
        margin-top: 10rem;
        span{ color: globalColor.$primary-color; }
        color: globalColor.$text-light;
    }
    p{ font-size: 22px; color: globalColor.$text-light; }
    a{
        text-transform: uppercase;
        font: 600 14px global.$ff;
        border: 2px solid globalColor.$text-light;
        padding: 10px 20px;
    }
}

.services, .works{
    padding: 4rem 0;
    text-align: center;
    .flex-col{ gap: 2rem; max-width: 400px; }
    .caption.flex-col{ gap: 25px; }
    .row h3{
        span{
            font-size: 22px;
        }
    }
    a{
        color: globalColor.$primary-color;
        &:hover{ text-decoration: underline; text-underline-offset: 4px; }
    }
}

.works{
    background: linear-gradient(to bottom, globalColor.$background-dark 0, globalColor.$background-dark 363px, globalColor.$background-light 364px);
    padding: 4rem 0;
    .container{
        .row{
            .col-tp-12{
                margin-bottom: 3rem;
            }
            .img{
                position: relative;
                cursor: pointer;
                .cover{
                    position: absolute;
                    background-color: #fffb;
                    display: grid;
                    place-items: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: .2s linear;
                    &.first{ inset: 8% 13% 17%; }
                    &.second{ inset: 8% 14% 18%; }
                    &.third{ inset: 8% 12% 16%; }
                    .plus{ background-color: globalColor.$text-dark; width: 53px; height: 53px; background-color: #464c52; }
                    .plus span{ line-height: 53px; font-size: 24px; color: #fffb; }
                }
                &:hover .cover{ opacity: 1; visibility: visible; }
            }   
        }
    }
}