@use '../global/global.scss';
@use '../global/globalColor.scss';

header{ @include global.Header(globalColor.$heading-dark,  globalColor.$primary-color, globalColor.$background-color-light-icon, globalColor.$background-color-light-alt-icon, globalColor.$heading-dark); }

.mission{
    padding: 4rem 0;
    .flex-col{ gap: 2rem; max-width: 345px; margin-bottom: 2rem; }
}

.team{
    background-color: globalColor.$background-dark;
    padding-top: 4rem;
    .img{ max-width: 265px; max-height: 175px; width: 100%; height: 175px; background-color: #b6b6b6; }
    .info{
        padding: 20px 0;
        border-bottom: 2px solid #c2c2c2;
        h3{ 
            margin-bottom: 1rem;
        }
    }
    .desc{ padding: 20px 0; }
    .social{
        margin-bottom: 4rem;
        a{
            background-color: globalColor.$text-light;
            &:hover{ color: #f6a42b; }
        }
    }
}

.outro{ .container{ border: none; } }

@media screen and (max-width: 767px) {
    .mission{
        .flex-col{ max-width: 100%; text-align: center; }
    }
}

@media screen and (max-width: 480px) {
    .team{ 
        .flex-col{ align-items: center; text-align: center; }
        .social{ justify-content: center; }
    }
}