$primary-color: #87b672;            // Main theme color
$heading-dark: #666262;             // Dark heading color
$text-light: #fff;                  // Primary white text
$text-light-alt: #fbfbfb;           // Alternative white text
$text-dark: #9b9999;                // Dark gray text
$background-light: #fefefe;         // Light background
$background-dark: #efefef;          // Darker background
$background-dark-alt: #333;
$background-color-icon: #d5cfc3;    // Icon's background color
$icon-color: #b9b7b7;               // Icon color